/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: ' Verdana', Geneva, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  font-size: 3rem;
  background: #FB3640;
}
header nav {
  display: flex;
  padding: 16px;
  justify-content: space-around;
}
header nav a {
  padding: 10px 20px;
  color: white;
}
header h1 {
  font-size: 2rem;
}
footer {
  display: flex;
  background: #FB3640;
  color: #FFFFFF;
  font-size: 2rem;
}
footer address {
  padding: 1em;
}
footer ul {
  display: flex;
}
footer ul li {
  list-style-type: none;
  padding: 1em;
}
footer ul li a {
  text-decoration: none;
  color: inherit;
}
footer p {
  align-self: flex-end;
  margin: 40px 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  font-size: 3rem;
}
.container .intro {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.container .intro h1 {
  font-size: 4rem;
  font-weight: 600;
  font-style: oblique;
}
.container .description.about-content {
  display: inline-flex;
  width: 49.5%;
}
.container .description h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-style: oblique;
  margin: 20px 0;
  color: #0A2463;
}
.container .description .info-card {
  display: flex;
  margin: 50px 0;
}
.container .description .info-card.team-card {
  display: inline-flex;
  width: 49.5%;
}
.container .description .info-card .text-content {
  width: 50%;
  margin: 0 auto;
  padding: 50px;
}
.container .description .info-card .text-content p {
  line-height: 1.5;
}
.container .description .info-card img {
  align-self: center;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}
.container .description .info-card:nth-of-type(even) {
  background: #0A2463;
  color: #FFFFFF;
}
.container .description .info-card:nth-of-type(even) h2 {
  color: #FFFFFF;
}
.container .description .info-card:nth-of-type(even) p {
  color: #FFFFFF;
}
.container .description .info-card:nth-of-type(even) img {
  -webkit-box-shadow: 0px 0px 292px -76px #FFFFFF;
  -moz-box-shadow: 0px 0px 292px -76px #FFFFFF;
  box-shadow: 0px 0px 292px -76px #FFFFFF;
}
.container .description .info-card:nth-of-type(odd) {
  background: #FFFFFF;
  color: #FB3640;
}
.container .description .info-card:nth-of-type(odd) h2 {
  color: #FB3640;
}
.container .description .info-card:nth-of-type(odd) p {
  color: #FB3640;
}
.container .description .info-card:nth-of-type(odd) img {
  -webkit-box-shadow: 0px 0px 292px -76px #FB3640;
  -moz-box-shadow: 0px 0px 292px -76px #FB3640;
  box-shadow: 0px 0px 292px -76px #FB3640;
}
.container .cta {
  display: inline-flex;
  margin: 50px 0;
  flex-direction: column;
}
.container .cta .text-content {
  width: 50%;
  margin: 0 auto;
  padding: 50px;
}
.container .cta .btn {
  background: #FB3640;
  color: #FFFFFF;
  padding: 20px 40px;
  font-size: 2.5rem;
  width: 20%;
  align-self: center;
  margin-left: 20%;
}
.container footer {
  background: #ccc;
}
