@tablet: ~"(max-width: 815px)";

@phone: ~"(max-width: 500px)";
.container {
  width: 100%;
  margin: 5rem auto;
  padding: 4rem 0;
  font-size: 3rem;
  .intro {
    display: flex;
    flex-direction: column;
    margin: 9rem 3rem;
    line-height: 1.5;
    h1 {
      font-size: 4rem;
      font-weight: 600;
      padding-bottom: 5rem;
      color: black;
    }
    p{
        font-size: 2rem;
        color: black;
    }
  }
  .description {
      &.about-content{
          display: inline-flex;
          width: 49.5%; 
      }
    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      font-style: oblique;
      margin: 20px 0;
      color: black;
    }
    
    .info-card {
      display: flex;
      
      &.team-card{
        display: inline-flex;

        width: 49.5%;
        // &:nth-of-type(1){
        //     order: 1;
            
        //     justify-self: flex-end;
        //     background: purple;
        // }
        // &::nth-of-type(2){
        //     order: 2;
        // } trying to get an
    } 
      
      .text-content {
        width: 50%;
        margin: 0 auto;
        padding: 50px;

        p {
          
          line-height: 1.5;
        }
      }
      img {
        align-self: center;
        height: 300px;
        width: 300px;
        margin: 0 auto;
        
      }
      &:nth-of-type(even) {
        background: @mainColor;
        color: @contrast2;
        h2 {
          color: @contrast2;
        }
        p{
            color: @contrast2;
        }
        img{
            box-shadow: rgba(32, 41, 50, 0.12) 0px 16px 48px;
            }
      }
      &:nth-of-type(odd) {
        background: @contrast2;
        color: black;
        h2 {
          color: black;
        }
        p{
            color: black;
        }
        img{
            box-shadow: rgba(32, 41, 50, 0.12) 0px 16px 48px;
        }
      }
    }
    
  }
  .cta {
    display: inline-flex;
    margin: 50px 0;
    flex-direction: column;
    .text-content {
      width: 50%;
      margin: 0 auto;
      padding: 50px;
    }
    .btn {
        background: @mainColor;
        color: @contrast2;
        padding: 20px 40px;
        font-size: 2.5rem;
        width: 20%;
        align-self: center;
        margin-left: 20%;
      }
  }
  footer{
      background: @mainColor;


  }
}
// -webkit-box-shadow: 0px 0px 292px -76px rgba(251,54,64,1);
//         -moz-box-shadow: 0px 0px 292px -76px rgba(251,54,64,1);
//         box-shadow: 0px 0px 292px -76px rgba(251,54,64,1);