


 @tablet: ~'(max-width: 815px)';
 
 @phone: ~'(max-width: 500px)';
.container{
    width: 70%;
    margin: 0 auto;
   font-size: 3rem;
   h1{
    font-size: 4rem;
           font-weight: 600;
           font-style: oblique;
   }
   .description{
       margin: 40px;
       h2{
           font-size: 3rem;
           font-weight: 600;
           font-style: oblique;
       }
   }
}