footer {
  display: flex;
  background: @mainColor;
  color: @contrast1;
  font-size: 2rem;
  @media @tablet {
    font-size: 1.6rem;
}
  address {
    padding: 1em;
  }
  ul {
    display: flex;

    li {
      list-style-type: none;
      padding: 1em;
      a {
        text-decoration: none;
        color: inherit;
        
      }
    }
  }
  p {
    align-self: flex-end;
    margin: 40px 0;
  }
}
