// Navigation Styles here
//escaped values
@tablet: ~'(max-width: 815px)';
@navBar: ~'(max-width: 630px)';
header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    
    background: @mainColor;
    //sticky
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    @media @navBar {
        align-self: center;
        justify-content: center;
     
    }

    img{
        width: 55%;
        height: 55%;
        max-width: 198px;
        
    }
    .hamburger{
        display: none;

        @media @navBar {
            display: flex;
            width: 200px;
            align-self: center;
        }
    }
    nav{
        display: flex;
        padding: 16px;
        flex-wrap: wrap;
        justify-content: space-around;
        @media @navBar {
            display: none;

        }
        a{
            padding:0 2rem;
            align-self: center;
            color: @contrast2;
            font-size: 2rem;
        }
    }
    
    h1{
        font-size: 2rem;
    }
}